body { margin: 0; color: black; font: normal 16px Arial, Helvetica, sans-serif; background: #fff;}
.clear { clear: both;}
p { margin: 0; padding: 0 0; font-size: 14px;}
a { text-decoration: none;}
/*a:hover { color: #3eca5a;}*/
a img { border: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0;  color: #000;}
h1 { padding: 14px 0 13px; line-height: 1.4em; font-style: bold; font-size: 24px; text-align: left;}
h3 { padding: 0 0 12px;}
h2 {font-size: 20px; padding: 22px 0 13px 0;}
strong { font-weight: bold;}
em { font-style: italic;}
form, menu, iframe { display: block; margin: 0; padding: 0; border: none;}
ol, ul, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; }
* { outline: none;} 

.resize {
	width: 980px;
	margin: 0 auto;
}

.green_line {
	background-color: #37a14c;
	color: #ffffff;
	width: 100%;
}

.yellow_line {
	width: 100%;
	background: linear-gradient(to top,  #f1b107, #fec50d);
}

.logo {
   display: inline-block;
   padding-top: 10px;
}

.text_header {
	display: inline-block;
	line-height: 45px;
}

.text_footer {
	color: white;
	font-size: 20px;
	display: inline-block;
	padding-top: 15px;
}

.social {
	float: right;
	padding: 8px 0 0;
}

.contacts {
	display: inline-block;
	color: #0f680e;
	font-size: 20px;
	width: 265px;
	padding-left: 30px;
	padding-bottom: 5px;
}


.contacts_footer {
	float: right;
	width: 275px;
	padding: 10px 0;
}


.text_skype {
	color: #000000;
	font-size: 16px;
	display: inline-block;
}

a.skype   {
	color: #1200ff;
}

.text_contacts {
	font-size: 20px;
	text-align: right;
	line-height: 27px;
}


.text_contacts a {
	color: #0f680e;
	text-align: left;
	width: 180px;
	display: inline-block;
}

.text_contacts span {
	font-size: 16px;
	float: left;
}

.text_contacts_footer {
	font-size: 20px;
	text-align: right;
}


.text_contacts_footer a {
	color: black;
	text-align: left;
	width: 180px;
	display: inline-block;
}

.text_contacts_footer span {
	font-size: 16px;
	float: left;
}

.buttons {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 10px 0 0 15px;
}

.button_form {
	background: linear-gradient(to top, #feba12, #fdd108);
	border-radius: 3px;
	border-top: 1px solid #f3ec19;
	border-bottom: 2px solid #293224;
	padding: 10px 6px;
	margin-bottom: 10px;
}
.button_form a {
 	color: #ffffff;
}

.logo_right {
	display: inline-block;
	float: right;
	padding-top: 26px;
}

.main_menu  {display: flex;}

.main_menu a {display: block;}

.menu li {
    width: calc(100%/5);
    text-align: center;
    color: white;
    border-left: 1px solid #247634;
    border-right: 1px solid #57e974;
    line-height: 45px;
}

.menu {
	background: linear-gradient(to top, #3d9b50, #51c066);
}

.menu ul {
	border-right: 1px solid #247634;
	border-left: 1px solid #57e974;
}

.menu li:hover {
	background: linear-gradient(to top, #35a34b, #4cda67);
}

.menu a {
	color: white;
}
.sidebar {
	display: inline-block;
	width: 22%;
}

.sidebar li {
	text-indent: 18px;
	font-size: 16px;
	padding-bottom: 4px;
}

.sidebar a {
	color: #ff0000;
}

.second_sidebar li {
	font-size: 20px;
	border-bottom: 1px solid #e7e7e7;
	text-indent: 0;
	padding: 18px 0 15px;
}

.second_sidebar a {
	color: #010101;
}

.second_sidebar li:first-child {
    border-top: 1px solid #e7e7e7;
    padding-top: 18px;
}

.mainbar {
	float: right;
	width: 75%;
}

.text_article {
	padding-top: 13px;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 38px;
	line-height: 1.15em;
}

.news ul {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}

.text_news {
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0 21px;
}

.block {
	background: linear-gradient(to top, #45bc5c, #329545);
	width: 232px;
	height: 90px;
	color: white;
}

.date {
	color: black;
	font-weight: bold;
	padding: 14px 0 8px 8px;
	display: block;
}

.text_block {
	padding-left: 7px; ;
	border-bottom: 1px solid #57e974;
}

.block_wrap {
	display: inline-block;
}


.logo_line {
	background: linear-gradient(to top, #3d9b50, #45bc5c);
	padding: 5px 0 3px 0;	
}

.logo_line ul {
	display: flex;
	justify-content: space-between;
}

.copyrights {
	padding: 22px 0;
}












