body { margin: 0; color: #666; font: normal 16px Helvetica, Arial, sans-serif; background: #fff;}
.clear { clear: both;}
p { margin: 0; padding: 0 0;}
a { text-decoration: none;}
/*a:hover { color: #3eca5a;}*/
a img { border: none;}
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: bold; color: #000;}
h1 { padding: 40px 0 24px; line-height: 1.4em;}
h2 { padding: 0 0 12px;}
strong { font-weight: bold;}
em { font-style: italic;}
form, menu, iframe { display: block; margin: 0; padding: 0; border: none;}
ol, ul, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; }
* { outline: none;} 
.resize {
	width: 980px;
	margin: 0 auto;
}
.green_line {
	background-color: #37a14c;
	color: #ffffff;
	width: 100%;
}
.text_header {
	display: inline-block;
	line-height: 45px;
}
.social {
	display: inline-block;
	float: right;
	padding: 8px 0;
}
.contacts {
	display: inline-block;
	color: #0f680e;
	font-family: Arial;
	font-size: 20px;
	width: 265px;
	padding-left: 38px;
	margin-top: 10px;
}
.contacts a {
	color: #0f680e;
}
.phone {
	display: inline-block;
	padding-left: 54px;
}
.text_skype {
	color: #000000;
	font-size: 16px;
}
a.skype  {
	color: #1200ff;s
}
.text_contacts {
	font-size: 16px;
}

.buttons {
	display: inline-block;
	font-family: Arial;
	color: #ffffff;
	text-align: center;
}
.button_form {
	background-color: #fdcc0b;
	border-radius: 3px;
	padding: 11px 8px ;
	font-family: 16px;
	margin-top: 10px;
}
.logo_right {
	display: inline-block;
	float: right;
	margin-top: -75px;
}


ul.main_menu  {display: flex;}

a.main_menu {display: block;
 }

.menu_bg li {
    width: calc(100%/5);
    text-align: center;
    color: white;
    line-height: 44px;
    background-color: #39a54e;
}
.menu_bg a {
	color: white;
}
.menu_bg a:hover {
	background-color: #44d660;
}
